<!--Footer Partial file
Author's name: kyle Duffy
web site name: Ramara health and safety
file description: This file is the partial EJS file that can be required by other pages to use as the footer. -->


<footer class="navbar-inverse" id="footer">
  <p class="col-xs-offset-6 navbar-inverse" style="color:white; " id="footerText">&copy; 2017 - Kyle Duffy</p>
</footer>



  </body>
</html>
