<% include ./partials/header.ejs %>


  <div style="margin-top:75px;" >
    <div class="col-md-8 col-md-offset-2">

        <!-- start of button 1 -->
        <a href="courseType" >
        <div  style="min-width:90px;border-color:#555555; border-width:1pt; background-color:#283e66; height:150px; max-height:150px;  margin-left:10px;"  class="col-xs-5   btn btm-hover jumbotron container-fluid">
          <p class="buttonText"  style="margin-top:-15px;">Manage</br> Certification</br>Types</P>
        </div>
         </a><!-- end button 1-->
         <!-- start of button 2 -->
        <a href="course" >
        <div  style="min-width:90px;border-color:#555555; border-width:1pt; background-color:#283e66;height:150px; max-height:150px; padding-right:10px;"  class="col-xs-5 col-xs-offset-1    btn btm-hover jumbotron container-fluid">
          <p class="buttonText">Manage</br>Certifications</P>
        </div>
         </a><!-- end button 2-->
        <div class="clearfix visible-xs"></div>
  </div>
</div>



<%include ./partials/footer.ejs%>
