<!-- includes the partial file header.ejs -->
<% include ./partials/header.ejs %>

<div class = "row equal" style="margin-top:75px;margin-left:3%;margin-right:3%;" >








  <h1>Something has gone wrong - Please go back and try again.</h1>
  <h1>If this problem persists: Take note of how to re-create the error and         contact Kyle Duffy At 705-791-1412.</h1>








</div>
<!-- includes the partial file footer.ejs -->
<%include ./partials/footer.ejs%>
