<!-- includes the partial file header.ejs -->
<% include ./partials/header.ejs %>

  <div class = "row equal" style="margin-top:75px;" >

    <div class="col-md-8 col-md-offset-4">

    </br>
        <a href="/expiringDashboard/course?days=90">
        <div style="min-width:90px;min-width:90px;border-color:#555555; border-width:1pt;  background-color:#283e66;height:150px; max-height:150px;margin-left:10px;"  class="col-xs-5 col-xs-offset-4   btn btm-hover jumbotron container-fluid">
                      <p  class="buttonText">Expiring Certificates </br> By Course</P>
        </div>
         </a><!-- end button 1-->
<!--
         <a href="/expiringDashboard/date" >
        <div style="min-width:90px;border-color:#555555; border-width:1pt;  background-color:#283e66;height:150px; max-height:150px;padding-right:10px;"  class="col-xs-5  col-xs-offset-1 btn btm-hover jumbotron container-fluid">

                  <p  class="buttonText">By</br>Date</P>
        </div>
         </a><!-- end button 2-->
         <div class="clearfix visible-xs"></div>
  </div>
</div>


<!-- includes the partial file footer.ejs -->
<%include ./partials/footer.ejs%>
