body {

  padding-top: 200px;
color:slateblue;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.buttonText{
  color: #999999;
}
.navbar{
position: left;

 /* padding-left: 500px; */
  background-color: skyblue;
}