<% include ../../partials/header.ejs %>

<div class="container-fluid"  style="margin-top:75px;">
  <% if(user._id == "61bb44455668037d34d0f36b" || user._id == "58f518ff43a6d491cc0a3274")
  { %>
<a href="courseType/add" class="btn btn-success" style="margin-bottom:10px;">Add a New Certification Type</a>
  <% }
  else{%>


  <%    }%>

<table class="table table-inverse table-hover">
    <tr><th>Certification Type</th><th>Edit</th><th>Delete</th></tr>
 <!--  logic to populate the table   -->
    <% for (var i = 0; i < courseTypes.length; i++) { %>
        <tr>
            <td><%= courseTypes[i].coursetype %></td>

            <% if(user._id == "61bb44455668037d34d0f36b" || user._id == "58f518ff43a6d491cc0a3274")
            { %>
    <td><a href="courseType/<%= courseTypes[i]._id %>" class="btn btn-info">Edit</a></td>           <% }
            else{%>
            <td><a href="#" class="btn btn-info" disabled>Edit</a></td>
            <%    }%>

               <% if(user._id == "61bb44455668037d34d0f36b" || user._id == "58f518ff43a6d491cc0a3274")
               { %>
                 <td><a href="courseType/delete/<%= courseTypes[i]._id %>" class="btn btn-danger confirmation">Delete</a></td>
            <% }
            else{%>
            <td><a href="#" class="confirmation btn btn-danger" disabled>Delete</a></td>

            <%    }%>



        </tr>
    <% } %>

</table>
</div>
<%include ../../partials/footer.ejs%>
