<% include ../partials/header.ejs %>

<main class="container" style="margin-top:75px;">

<h1>Add a New Contractor</h1>

<form method="post">
    <div class="form-group">
        <label for="contractorName" class=" control-label">Contractor Name: </label>
        <input name="contractorName" required id="contractorName"  />
    </div>




         <div class="form-group">
         <label class="control-label">Services:</label>

       <div class="container" >
       <div id="servicesDiv" class="box-lg-4" style="box-sizing: border-box;width: 28%;   border: 3px solid black; padding:5px;">


             <label id="label1"for="services" class=" control-label">service #1: </label>
            <input  id="services1" value="" />
            <button type="button" class="btn btn-sm btn-success btn-xs" id="1" onclick="addNewService(this.id)" ><span class="glyphicon glyphicon-ok"></span> Add</button>
            <br/>


       </div>
       <div class="box-lg-8">
       </div>
                </div>
       </div>









         <div class="form-group">
          <label for="tel" class=" control-label">Phone Number: </label>
         <input name="tel" id="tel"  />
              </div>



  <div class="form-group">
  <label for="email" class="control-label">Contractors E-Mail Address:</label>
           <input id="email" type="email" name="email" />
    </div>

    <div class="form-group">
    <label for="caf" class="control-label">Effective date of contractor agreement form:</label>
             <input id="caf" type="date" name="caf" />
      </div>

    <div class="form-group">
    <label for="wsib" class="control-label">WSIB Clearance #</label>
             <input id="wsib" type="text" pattern="^(?=.*\d)(?=.*[a-zA-Z0-9])(?!.*\s!@#$%^&*()-_=+[{]}\|;:'<./>?`~]).*$" minlength="12" size="12" maxlength="12" name="wsib" />

           </br>   <label for="wsibExp" class="control-label">Check Again On:</label>
                      <input id="wsibExp" type="date" name="wsibExp" />
      </div>

      <div class="form-group">
      <label for="insurance" class="control-label">Insurance Policy Expiry Date:</label>
               <input id="insurance" type="date" name="insurance" />

        </div>

    <button class="btn btn-success col-sm-offset-2">Save</button>
</form>

</main>



<%include ../partials/footer.ejs%>
